.App {
  text-align: center;
}

.container {
  margin-top: 100px;
}

.circle {
  width: 40px;
  height: 40px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-right: 5px;
  cursor: default;
}

.circle:hover {
  font-weight: bold;
}
.users {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  justify-content: flex-end;
}